[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
serial = "*"
dash = "*"
dash-html-components = "*"
dash-core-components = "*"
dash-table = "*"

[requires]
python_version = "2.7"
